*{
    --primary-color: rgb(0,127,127);
    --secondary-color: rgb(255,127,0);
    --secondary-disabled-color: rgb(180, 120, 60);
    --text-color: rgb(240,240,240);
    --disabled-text-color: rgb(160, 160, 160);
}

.form {
    width: 40vw;
    margin: 0 auto;
    padding: 2em 0;
    border-radius: 5em 0;

    background-color: var(--primary-color);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: borderWave 5s infinite ease-in-out;
}

@keyframes borderWave {
    0% {border-radius: 0 5em}
    50% {border-radius: 5em 0}
    100% {border-radius: 0 5em}
}

