*{
    --primary-color: rgb(0,127,127);
    --secondary-color: rgb(255,127,0);
    --secondary-disabled-color: rgb(180, 120, 60);
    --text-color: rgb(240,240,240);
    --disabled-text-color: rgb(160, 160, 160);
}

.form {
    width: 40vw;
    margin: 0 auto;
    padding: 2em 0;
    border-radius: 5em 0;

    background-color: var(--primary-color);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: borderWave 5s infinite ease-in-out;
}

@keyframes borderWave {
    0% {border-radius: 0 5em}
    50% {border-radius: 5em 0}
    100% {border-radius: 0 5em}
}

.form div {
    margin: 2em;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
}

.form div label {
    align-self: center;
    text-align: right;
}

.form div input {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

.form div input:focus {
    outline: solid 3px var(--secondary-color);
}

.form button {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: rgb(240,240,240);
    font-weight: bold;
}

.form button:disabled {
    background-color: var(--secondary-disabled-color);
    cursor: not-allowed;
    color: var(--disabled-text-color);
    font-weight: bold;
}