* {
  --primary-color: rgb(0, 127, 127);
  --secondary-color: rgb(255, 127, 0);
  --secondary-disabled-color: rgb(180, 120, 60);
  --text-color: rgb(240, 240, 240);
  --disabled-text-color: rgb(160, 160, 160);
}

header {
  height: min-content;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.title {
  height: 5rem;
  width: max-content;
  padding: 0 1.5em 0 0.7em;
  border-radius: 0 5rem 5rem 0;
  color: var(--text-color);
  background-color: var(--primary-color);
  right: 0;
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 2.5em;
}

.title p a {
  color: inherit;
}

.title p a:visited{
  color: inherit;
}

.error {
  margin: 2em auto;
  width: max-content;
  padding: 1em;
  border-radius: 5rem;
  text-align: right;
  right: 0;

  display: flex;
  align-items: center;

  color: var(--text-color);
  background-color: var(--secondary-color);
}

.login {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  padding: 1em;
  border-radius: 5rem;
  text-align: right;
  right: 0;

  display: flex;
  align-items: center;

  color: var(--text-color);
  background-color: var(--primary-color);
}


@media (max-width: 600px){

  header {
    height: max-content;
  }

  .title{
    width: min-content;
    height: 140px;
    justify-content: center;
  }

  .title h1{
    font-size: 2.2rem;
  }
  .title p {
    font-size: 0.9rem;
  }
}

@media (max-width: 420px) {
  .login {
    width: 90vw;
    text-align: center;
  }
}